<included>
    <property resource="logback-variables.properties"/>
    <appender name="MDC_REQUEST" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/archive/mdc_request.%d{yyyy-MM-dd}_%i.log</fileNamePattern>
            <maxFileSize>100KB</maxFileSize>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                [REQUEST - %X{trxId}] ${LOG_PATTERN}
            </pattern>
            <outputPatternAsHeader>true</outputPatternAsHeader>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="MDC_REQUEST"/>
    </root>
</included>